<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<div style="text-align:center">

  <ul *ngFor="let test of dashboardShop1">
  <li>
    {{test.name}}
  </li>
</ul>

  <!-- <h4>
    Basic Pagination
  </h4>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Item</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of serviceData1 | paginate: config">
        <th scope="row">{{item.service_id}}</th>
        <td>{{item.service_name}}</td>
      </tr>
    </tbody>
  </table>

  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls> -->

</div>