.form-control {
    display: unset !important;
    width: 273px;
    height: 28px;
    font-size: 12px;
}

.lblwidthProfile {
    width: 70px;
}

.form-group {
    height: 34px;
}

button {
    font-size: 12px;
}