<h2  style="text-align:center;">My Account</h2>
<form [formGroup]="profileform" (ngSubmit)="sendprofile(profileform.value)">
<div class="accordion">
    <h2 class="title" (click)="opened = !opened">Personal Information</h2>
    <div class="content-container" [class.opened]="opened">
           <!--phto-->
            <div class="form-group">
            <label >Profile Photo</label>
            </div>
            <div class= "border-right">
               <div><img class="rounded-circle" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"></div>
            </div>
            <div class="form-group form-inline">
            <input class="form-control"  id="image" type="file" name="profile_photo"  required="" style="width:500px;"  formControlName="uploadimage">
            <div *ngIf="profileform.controls['uploadimage'].touched && profileform.controls['uploadimage'].invalid "> 
          
                <div *ngIf="profileform.controls['uploadimage'].errors" style="color: red;"> 
                  <div *ngIf="profileform.controls['uploadimage'].errors.required" style="margin-left: 14px;">
                      Upload Your Profile Photo
                  </div> 		   
                 
               </div> 
                
              </div>    
        </div>
            <!--endphoto-->
            <br>
            <!--info-->
            <div class="row">
                <div class="col-sm-4">

                        <div class="form-group">
                            <label class="lblwidthProfile">First Name</label><span class="requiredfield">  *</span>

                            <input type="text" class="form-control" placeholder="" formControlName='firstname'>
                            <div *ngIf="profileform.controls['firstname'].touched && profileform.controls['firstname'].invalid "> 
          
                                <div *ngIf="profileform.controls['firstname'].errors" style="color: red;"> 
                                  <div *ngIf="profileform.controls['firstname'].errors.required" style="margin-left: 14px;">
                                      First Name is required. 
                                  </div> 		   
                                 
                               </div> 
                                
                              </div>
                        </div>

                        <br>

                        <div class="form-group">
                                <label class="lblwidthProfile">Mobile Number</label><span class="requiredfield">  *</span>
                                <input type="text" class="form-control" placeholder="" formControlName="mobileno">
                                <div *ngIf="profileform.controls['mobileno'].touched && profileform.controls['mobileno'].invalid "> 
          
                                    <div *ngIf="profileform.controls['mobileno'].errors" style="color: red;"> 
                                      <div *ngIf="profileform.controls['mobileno'].errors.required" style="margin-left: 14px;">
                                          Mobile Number is required.
                                      </div> 		   
                                      <div *ngIf="profileform.controls['mobileno'].errors.pattern" style="margin-left: 14px;">
                                        Mobile Number is not valid.
                                      </div> 
                                   </div> 
                                    
                                  </div>
                         </div>
                         <br>
                         <div class="form-group">
                            <label class="lblwidthProfile">Car Type</label><span class="requiredfield">  *</span>
                         <select class="form-control"  #cartype >
                            <option value="Maruthi">Maruthi</option>
                                <option value="Ford">Ford</option>
                                <option value="Nissan">Nissan</option>
                                <option value="Other">Other</option>
                            </select>
                            </div>
                 </div>

                <div class="col-sm-4">
                        <div class="form-group">
                            <label class="lblwidthProfile">Last Name</label><span class="requiredfield">  *</span>
                            <input type="text"  class="form-control" placeholder="" formControlName='lastname'>
                            <div *ngIf="profileform.controls['lastname'].touched && profileform.controls['lastname'].invalid "> 
          
                                <div *ngIf="profileform.controls['lastname'].errors" style="color: red;"> 
                                  <div *ngIf="profileform.controls['lastname'].errors.required" style="margin-left: 14px;">
                                      Last Name is required. 
                                  </div> 		   
                                 
                               </div> 
                                
                              </div>
                        </div>
                
                       <br>
               
                        <div class="form-group">
                        <label class="lblwidthProfile">Date of Birth </label><span class="requiredfield">  *</span>
                        <input type="date"  class="form-control" placeholder="" >
                        </div>
                </div>

                <div class="col-sm-4">
                        <div class="form-group form-inline">
                        <label class="lblwidthProfile">Email </label><span class="requiredfield">  *</span>
                        <input type="text"  class="form-control" placeholder=" " formControlName="emailid">
                        <div *ngIf="profileform.controls['emailid'].touched && profileform.controls['emailid'].invalid "> 
          
                            <div *ngIf="profileform.controls['emailid'].errors" style="color: red;"> 
                              <div *ngIf="profileform.controls['emailid'].errors.required" style="margin-left: 14px;">
                                  Email Id is required.
                              </div> 		   
                              <div *ngIf="profileform.controls['emailid'].errors.pattern" style="margin-left: 14px;">
                                   Email Id is not valid.
                              </div> 
                           </div> 
                            
                          </div>
                        </div>
                        <br>
                        <div class="form-group form-inline">
                            <label class="lblwidthProfile">Gender </label><span class="requiredfield">  *</span><br>
                            <select  placeholder="" >
                                <option value="Male">Male</option>
                                <option value="FeMale">FeMale</option>
                                </select>
                            </div>

                </div>
             
            </div>

            <!--endinfo-->
    </div>
  </div>

  <!--Endof Personal-->
  <!--address start-->
  <div class="accordion1">
    <h2 class="title1" (click)="opened1 = !opened1">Address</h2>
    <div class="content-container1" [class.opened1]="opened1">
           <!--phto-->
           <div class="row">
                <div class="col-sm-4">

                    <div class="form-group">
                        <label class="lblwidthProfile">Door No/Apartment Name</label>

                        <input type="text" class="form-control" placeholder="">
                    </div>

                    <br>
                   
                    <div class="form-group">
                        <label class="lblwidthProfile">State</label>
                        <input type="text" class="form-control" placeholder="">
                    
                    </div>
    
                   
                </div>

                 <div class="col-sm-4">

                   
                    <div class="form-group">
                        <label class="lblwidthProfile">Street Name</label>
    
                         <input type="text" class="form-control" placeholder="">
                    </div>

                    <br>
                    
                    <div class="form-group">
                        <label class="lblwidthProfile">Zipcode</label>
                        <input type="text" class="form-control" placeholder="">
                    
                </div>

                   
                    </div>

                     <div class="col-sm-4">
                        <div class="form-group">
                            <label class="lblwidthProfile">City</label>
                            <input type="text" class="form-control" placeholder="">
                        
                        </div>
    
                       
            
                           
        
                        </div>

        </div>

        </div>


  
  </div>
  <div class="col-sm-12 form-inline" style="text-align: right;margin-left: 26px;">
        
    <button class="btn btn-success " style="margin-right: 14px;"  [disabled]='!profileform.valid'>Update</button>
  
    

</div>
<br>
</form>
  <!--Address End-->