<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<h2  style="text-align:center;">My Profile </h2>
<!-- *ngFor = "let news  of CustomerDataById1" -->
<div style="margin-left: -66px;">
    <!-- <ul *ngFor="let c of CustomerDataById">
        <li>hi {{c.data.profile.firstname}}</li>
    </ul> -->
<form [formGroup]="profileform" name="pf">
<div class="accordion">
    <h2 class="title"  (click)="opened = !opened">Personal Information <i class="fa fa-chevron-down"></i> </h2> 
    <div class="content-container" [class.opened]="opened">
           <!--phto-->
       
           <img *ngIf="CustomerDataById1.profile_img" style="width: 100px;height: 100px;"  src="http://localhost/MNC-PHP-API/{{CustomerDataById1.profile_img}}" class="rounded-circle">
           <img *ngIf="!CustomerDataById1.profile_img" style="width: 180px;height: 100px;"  src="../assets/images/avatar.png" class="rounded-circle">

            <div class="form-group form-inline">
            <label >Profile Photo</label>
          
            </div>
            <div class= "border-right">
               <div><img class="rounded-circle" style="height: 100px; width:150px" [src]="imageSrc" *ngIf="imageSrc"></div>
            </div>
            <div class="form-group form-inline profileimg">
             <input [formControl]="file"  style=" width: 215px;"
                
                id="file" 
                type="file" 
                class="form-control"
                (change)="fileChange($event)">
            <!-- <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
                <div *ngIf="f.file.errors.required">File is required.</div>
            </div>  -->
        </div>
            <!--endphoto-->
 
            <br>
            <!--info-->
            <div class="row ">
                <div class="col-sm-4">
                    

                    <div class="form-inline" > 
                        <label styl class="lblwidthprofile">First Name</label><span class="requiredfield">  *</span>

                        <input type="text"  class="form-control firstLastnamecls" [(ngModel)]="CustomerDataById1.firstname" formControlName="firstname" value="{{CustomerDataById1.firstname}}" >
                        <div *ngIf="profileform.controls['firstname'].touched && profileform.controls['firstname'].invalid "> 
      
                            <div *ngIf="profileform.controls['firstname'].errors" style="color: red;"> 
                              <div *ngIf="profileform.controls['firstname'].errors.required" style="margin-left: 116px;font-size: 12px;">
                                  First Name  required. 
                              </div> 		   
                             
                           </div> 
                            
                          </div>
                    </div>

                    <br>
                  <div class="form-group">
                                <label class="lblwidthProfile">Mobile Number</label><span class="requiredfield">  *</span>
                                <input type="text"  class="form-control mobilenumbercls" placeholder="" formControlName="mobileno"  [(ngModel)]="CustomerDataById1.mobileno">
                                <div *ngIf="profileform.controls['mobileno'].touched && profileform.controls['mobileno'].invalid "> 
          
                                    <div *ngIf="profileform.controls['mobileno'].errors" style="color: red;"> 
                                      <div *ngIf="profileform.controls['mobileno'].errors.required" style="margin-left: 116px;font-size: 12px;">
                                          Mobile Number  required.
                                      </div> 		   
                                      <div *ngIf="profileform.controls['mobileno'].errors.pattern" style="margin-left: 116px;font-size: 12px;">
                                        Mobile Number  not valid.
                                      </div> 
                                   </div> 
                                    
                                  </div>
                         </div>
                         <br>
                         <div class="form-group">
                            <label class="lblwidthProfile">Address</label><span class="requiredfield">  *</span>
    
                            <input type="text" style="width: 250px" class="form-control doornocls form-inline" placeholder="" formControlName="doorno" [(ngModel)]="CustomerDataById1.doorno">
                            <div *ngIf="profileform.controls['doorno'].touched && profileform.controls['doorno'].invalid "> 
              
                                <div *ngIf="profileform.controls['doorno'].errors" style="color: red;"> 
                                  <div *ngIf="profileform.controls['doorno'].errors.required" style="margin-left: 116px;font-size: 12px;">
                                     Door No required
                                  </div> 		   
                                 
                               </div> 
                                
                              </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <label class="lblwidthProfile">State</label><span class="requiredfield">  *</span>
                            <select  placeholder=""   class="form-control selectoption" formControlName="state" name="" [(ngModel)]="CustomerDataById1.state">
                                 <option value="">--Select State---</option> 
                                 <option *ngFor="let statetypes of statedata" [value]="statetypes.state_id ">
                                    {{statetypes.name}}
                                </option>
                                </select>
                                <div *ngIf="profileform.controls['state'].touched && profileform.controls['state'].invalid "> 
              
                                    <div *ngIf="profileform.controls['state'].errors" style="color: red;"> 
                                      <div *ngIf="profileform.controls['state'].errors.required" style="margin-left: 116px;font-size: 12px;">
                                          Select State
                                      </div> 		   
                                     
                                   </div> 
                                    
                                  </div>
                        </div>
                    </div>

               <div class="col-sm-4">
                        <div class="form-group">
                            <label class="lblwidthProfile">Last Name</label><span class="requiredfield">  *</span>
                            <input type="text"   style="padding-left: 2px !important;"   class="form-control firstLastnamecls" placeholder="" formControlName='lastname' [(ngModel)]="CustomerDataById1.lastname">
                            <div *ngIf="profileform.controls['lastname'].touched && profileform.controls['lastname'].invalid "> 
          
                                <div *ngIf="profileform.controls['lastname'].errors" style="color: red;"> 
                                  <div *ngIf="profileform.controls['lastname'].errors.required" style="margin-left: 116px;font-size: 12px;">
                                      Last Name  required. 
                                  </div> 		   
                                 
                               </div> 
                                
                              </div>
                        </div>
                
                       <br>
               
                        <div class="form-group">
                        <label class="lblwidthProfile">Date of Birth </label><span class="requiredfield">  *</span>
                        <input type="date"   class="form-control dateofbirthcls" [(ngModel)]="CustomerDataById1.dob" placeholder="" formControlName="dob">
                        <div *ngIf="profileform.controls['dob'].touched && profileform.controls['dob'].invalid "> 
          
                            <div *ngIf="profileform.controls['dob'].errors" style="color: red;"> 
                              <div *ngIf="profileform.controls['dob'].errors.required" style="margin-left: 116px;font-size: 12px;">
                                  Date of Birth  required. 
                              </div> 		   
                             
                           </div> 
                            
                          </div>
                    
                        </div>
                        <br>
                        
                    <div class="form-group">
                        <label class="lblwidthProfile">Street Name</label><span class="requiredfield">  *</span>
    
                         <input type="text" style="width: 236px;" class="form-control street" placeholder="" formControlName="street" [(ngModel)]="CustomerDataById1.street">
                         <div *ngIf="profileform.controls['street'].touched && profileform.controls['street'].invalid "> 
          
                            <div *ngIf="profileform.controls['street'].errors" style="color: red;"> 
                              <div *ngIf="profileform.controls['street'].errors.required" style="margin-left: 116px;font-size: 12px;">
                                 Street required  
                              </div> 	   
                             
                           </div> 
                            
                          </div>
                    </div>

                    <br>
                    
                    <div class="form-group">
                        <label class="lblwidthProfile">Zipcode</label><span class="requiredfield">  *</span>
                        <input type="text" class="form-control zipcodecls" placeholder="" formControlName="zipcode" [(ngModel)]="CustomerDataById1.zipcode">
                        <div *ngIf="profileform.controls['zipcode'].touched && profileform.controls['zipcode'].invalid "> 
          
                            <div *ngIf="profileform.controls['zipcode'].errors" style="color: red;"> 
                              <div *ngIf="profileform.controls['zipcode'].errors.required" style="margin-left: 116px;font-size: 12px;">
                                  ZipCode  Required
                              </div> 		   
                             
                           </div> 

                           <div *ngIf="profileform.controls['zipcode'].errors" style="color: red;"> 
                            <div *ngIf="profileform.controls['zipcode'].errors.pattern" style="margin-left: 116px;font-size: 12px;">
                                ZipCode  Not Valid
                            </div> 		   
                           
                         </div> 
                            
                          </div>
                    
                </div>
                </div>

                <div class="col-sm-4">
                        <div class="form-group form-inline">
                        <label class="lblwidthProfile">Email </label><span class="requiredfield">  *</span>
                        <input type="text"  class="form-control emailidcls" placeholder=" " [(ngModel)]="CustomerDataById1.emailid" formControlName="emailid">
                        <div *ngIf="profileform.controls['emailid'].touched && profileform.controls['emailid'].invalid "> 
          
                            <div *ngIf="profileform.controls['emailid'].errors" style="color: red;"> 
                              <div *ngIf="profileform.controls['emailid'].errors.required" style="margin-left: 68px;font-size: 12px;">
                                  Email Id  required.
                              </div> 		   
                              <div *ngIf="profileform.controls['emailid'].errors.pattern" style="margin-left: 68px;font-size: 12px;">
                                   Email Id  not valid.
                              </div> 
                           </div> 
                            
                          </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <label class="lblwidthProfile">Gender </label><span class="requiredfield">  *</span>
                            <select  placeholder=""   class="selectoptiongender form-control" formControlName="gender" [(ngModel)]="CustomerDataById1.gender">
                                <option value="">--Select---</option>
                                <option value="Male">Male</option>
                                <option value="FeMale">FeMale</option>
                                </select>
                                <div *ngIf="profileform.controls['gender'].touched && profileform.controls['gender'].invalid "> 
          
                                    <div *ngIf="profileform.controls['gender'].errors" style="color: red;"> 
                                      <div *ngIf="profileform.controls['gender'].errors.required" style="margin-left: 68px;font-size: 12px;">
                                          Select Gender
                                      </div> 		   
                                     
                                   </div> 
                                    
                                  </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <label class="lblwidthProfile">City</label><span class="requiredfield">  *</span>
                                <select  placeholder=""  class=" city form-control" formControlName="city"   [(ngModel)]="CustomerDataById1.city">
                                    <option value="">--Select City--</option>
                                   <option *ngFor="let citylist of citydata" [value]="citylist.city_id">
                                        {{citylist.city_name}}
                                     </option>
                                
                                     </select>
                                    <div *ngIf="profileform.controls['city'].touched && profileform.controls['city'].invalid "> 
                  
                                        <div *ngIf="profileform.controls['city'].errors" style="color: red;"> 
                                          <div *ngIf="profileform.controls['city'].errors.required" style="margin-left: 68px; font-size: 12px;">
                                              Select City
                                          </div> 		   
                                         
                                       </div> 
                                        
                                      </div>
                            
                            </div>


                </div>
             
            </div>

            <!--endinfo-->
    </div>
  </div>

  <!--Endof Personal-->
  <!--address start-->
  <div class="accordion1">
    <h2 class="title1" (click)="opened1 = !opened1">Car Details<i class="fa fa-chevron-down"></i></h2>
    <div class="content-container1" [class.opened1]="opened1">
           <!--phto-->
           <div class="row">
                <div class="col-sm-4">

                    <div class="form-group">
                        <label class="lblwidthProfile">Car Type</label><span class="requiredfield">  *</span>
                        <select  placeholder="" class="cartype form-control" formControlName="cartype" id="cartype" (ngModelChange)="onchangecartype($event)" [(ngModel)]="CustomerDataById1.cartype">
                            <option value="">--Select Car Type---</option>

                            <option *ngFor="let cartypes of fetchdata1" [value]="cartypes.id">
                                {{cartypes.type_name}}
                            </option>
                            </select>
                            <div *ngIf="profileform.controls['cartype'].touched && profileform.controls['cartype'].invalid "> 
          
                                <div *ngIf="profileform.controls['cartype'].errors" style="color: red;"> 
                                  <div *ngIf="profileform.controls['cartype'].errors.required" style="margin-left: 87px;font-size: 12px;">
                                      Select Car Type
                                  </div> 		   
                                 
                               </div> 
                                
                              </div>
                    </div>

                    <br>
                   
                    <div class="form-group">
                        <label class="lblwidthProfile">Fuel Type</label><span class="requiredfield">  *</span>
                        <select  placeholder="" class="fueltype form-control" formControlName="fueltype" name="" [(ngModel)]="CustomerDataById1.fueltype">
                            <option value="">--Select Fuel Type---</option>
                            <option value="petrol">Petrol</option>
                            <option value="diesel">Diesel</option>
                            </select>
                            <div *ngIf="profileform.controls['fueltype'].touched && profileform.controls['fueltype'].invalid "> 
          
                                <div *ngIf="profileform.controls['fueltype'].errors" style="color: red;"> 
                                  <div *ngIf="profileform.controls['fueltype'].errors.required" style="margin-left: 89px;font-size: 12px;">
                                      Select Fuel Type
                                  </div> 		   
                                 
                               </div> 
                                
                              </div>
                    </div>
    
                   
                </div>

                 <div class="col-sm-4">

                   
                    <div class="form-group">
                        <label class="lblwidthProfile">Car Brand</label><span class="requiredfield">  *</span>
                        <select  placeholder="" class="carbrand form-control" formControlName="brand" id="carbrand" (ngModelChange)="onChangeObj($event)" [(ngModel)]="CustomerDataById1.brand">
                            <option value="">--Select---</option>
                            <option *ngFor="let carbrand of branddata" [value]="carbrand.id">
                                {{carbrand.brand_name}}
                            </option>
                            </select>
                            <div *ngIf="profileform.controls['brand'].touched && profileform.controls['brand'].invalid "> 
          
                                <div *ngIf="profileform.controls['brand'].errors" style="color: red;"> 
                                  <div *ngIf="profileform.controls['brand'].errors.required" style="margin-left: 89px;font-size: 12px;">
                                      Select Car Brand
                                  </div> 		   
                                 
                               </div> 
                                
                              </div>
                    </div>

                    <br>
                    
                    <div class="form-group">
                        <label class="lblwidthProfile">Car Color</label><span class="requiredfield">  *</span>
                        <select  placeholder="" class="carcolor form-control" formControlName="color" name="" [(ngModel)]="CustomerDataById1.color">
                            <option value="">--Select---</option>
                            <option value="black">Black</option>
                            <option value="red">Red</option>
                            <option value="yellow">Yellow</option>
                            <option value="gray">Grey </option>
                            </select>
                            <div *ngIf="profileform.controls['color'].touched && profileform.controls['color'].invalid "> 
          
                                <div *ngIf="profileform.controls['color'].errors" style="color: red;"> 
                                  <div *ngIf="profileform.controls['color'].errors.required" style="margin-left: 89px;font-size: 12px;">
                                      Select Car Color
                                  </div> 		   
                                 
                               </div> 
                                
                              </div>
                    </div>

                   
                    </div>

                     <div class="col-sm-4">
                        <div class="form-group">
                            <label class="lblwidthProfile">Car Model</label><span class="requiredfield">  *</span>
                            <select  placeholder=""  class="carmodel form-control" id="model" formControlName="model" [(ngModel)]="CustomerDataById1.model">
                                <option value="">--Select---</option>
                               <option *ngFor="let carmodels of modelsdata" [value]="carmodels.id">
                                {{carmodels.model_name}}
                                </select>
                                <div *ngIf="profileform.controls['model'].touched && profileform.controls['model'].invalid "> 
              
                                    <div *ngIf="profileform.controls['model'].errors" style="color: red;"> 
                                      <div *ngIf="profileform.controls['model'].errors.required" style="margin-left: 98px;font-size: 12px;">
                                          Select Car Model
                                      </div> 		   
                                     
                                   </div> 
                                    
                                  </div>
                        </div>
    
                       
            
                           
        
                        </div>

        </div>

        </div>


  
  </div>
  <div class="col-sm-12 form-inline" style="text-align: right;">
        
    <button class="btn carwashbtn btn-success" (click)="uploadFile(profileform.value)" [disabled]='!profileform.valid' >Update</button>
    <!-- [disabled]='!profileform.valid' -->
    

</div>
<br>

</form>
</div>
  <!--Address End-->