


<form  [formGroup]="dataForm" (ngSubmit)="sendotp1(dataForm.value)" method="post" style="width: 336px;">  
  
  


    <mat-card  class="bordercard">
      <div  style="text-align: right;margin-top: -29px;margin-right: -21px;">
        <a style="cursor: pointer;font-size: 20px;font-weight: bold;" (click)="closeMe()">×</a>
      </div>
    <mat-card-header style="padding-left: 107px;" >
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>


    <mat-card-content style="text-align: center;margin-top: 10px;"  class="form-inline">
      <div>
  
      <select id = "myList" onchange = "favTutorial()" style=" height: 32px;width: 63px;">   
         
          <option> + 91</option>  
           </select>  

           <label style="padding-left: 8%;"> </label>

           <input style=" height: 32px;  width: 180px;" type="text" matInput placeholder="Mobile Phone" formControlName='mobile' class="textboxmobileno">
 
  </div>
   
          
    <div *ngIf="dataForm.controls['mobile'].touched && dataForm.controls['mobile'].invalid "> 
          
      <div *ngIf="dataForm.controls['mobile'].errors" style="color: red;"> 
        <div *ngIf="dataForm.controls['mobile'].errors?.['required']" style="margin-left: 14px;">
            Mobile Number is Required.
        </div> 	
        <div *ngIf="dataForm.controls['mobile'].errors?.['pattern']" style="margin-left: 14px;">
          Mobile Number is Not Valid.
      </div> 	   
       
     </div> 
      
    </div> 
    
  
  </mat-card-content>

    <p id="pleaseregister" style="color:red;font-size: 13px;text-align: center;"></p>

    


  <mat-card-actions style="text-align: center;margin-top: 15px;" >
      <button mat-raised-button class="carwashbtn" style="border-radius: 21px;width: 190px;height: 36px;"  [disabled]='!dataForm.valid'>Receive a Code Via SMS</button>
  </mat-card-actions>



  <mat-card-actions style="text-align: center;" >
  <h3>New to Kainos Car Wash.?

      <mat-list-item  > <a  mat-list-item (click)="signup()">
         </a></mat-list-item>

          <mat-list-item class="menudesk"> <a style="cursor: pointer;" class="colorheaderMenu" (click)="signup();closeMe()"> Sign Up</a> </mat-list-item>

         
      
  </h3>
</mat-card-actions>

    

    </mat-card>
 
   
</form>




  