.login-main{
    margin-top: 10%;
    }
    mat-card{
    min-width: 40%;
    }
    .bordercard
    {
        border:none;
        box-shadow: none;
    }
    .textboxmobileno
    {
        border-radius: 5px;
    }