.fa-star-o:before {
    content: "\f006";
    padding: 10px;
}

.fa-star:before {
    content: "\f005";
    padding: 10px;
}

label.star {
    
    font-size: 20px !important;
    float: unset !important;
}

label.star.star-4.ng-star-inserted {
    font-size: 20px !important;
}