
<section class="team-section text-center my-5">


  


  <h2 class="h1-responsive fontsize-text">Testimonials</h2>

  <p class="dark-blue-text w-responsive mx-auto ">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Fugit,
  </p>


  <div class="row text-center">


    <div class="col-md-4 mb-md-0 mb-5" *ngFor="let test of fetchdata1; let i=index; " >
      
      <div class="testimonial">
<!-- <p>{{i}}</p> -->
        <div class="avatar mx-auto" >
          <img src="../assets/images/avatar.png" class="rounded-circle">
        </div>
        <!--Content-->
        <h4 class="font-weight-bold dark-grey-text mt-4">{{test.customer_name}}</h4>
        <!-- <h6 class="font-weight-bold blue-text my-3">{{test.user_title}}</h6> -->
        <p class="font-weight-normal dark-grey-text">
          {{test.user_description}}
      </p>
        <!--Review-->
       
      </div>

    </div>
   
    


    
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
<!-- Section: Testimonials v.3 -->