<h1>Angular Slick Carousel/Slider Integration Tutorial - ItSolutionStuff.com</h1>
  
<ngx-slick-carousel class="carousel" style="width:50%;"
                        #slickModal="slick-carousel" 
                        [config]="slideConfig" 
                        (init)="slickInit($event)"
                        (breakpoint)="breakpoint($event)"
                        (afterChange)="afterChange($event)"
                        (beforeChange)="beforeChange($event)">
        <div ngxSlickItem *ngFor="let slide of dashboardShop1" class="slide">
              <img src="http://localhost/MNC-PHP-API/{{ slide.shop_image }}" alt="" width="200px" height="200px">
        </div>
</ngx-slick-carousel>