<h2 class="mainheading" style="text-align:center;">My Online Booking</h2>

<div style=" margin-top: -75px;">

  <form [formGroup]="onlinebooking" class="form-container" >
      <mat-card>
  
        <mat-card-header>
          <mat-card-title>
            <h4 class="subheading" style="color:skyblue;margin-left: -17px;">Enter Your Details_____</h4>
            <h2 class="mainheading" style=" margin-top: -17px;margin-left: -17px;">  Booking Details</h2>
            </mat-card-title>
        </mat-card-header>
        <div class="row">
          <div class="col-sm-3">
           
               <div class="form-group">
              <select   class="cartypecls" formControlName="cartype" id="cartype" (ngModelChange)="onchangecartype($event)" [(ngModel)]="CustomerDataById1.cartype">   
                 
                <option>car Type</option>  
                 <option *ngFor="let cartypes of displaydata1" [value]="cartypes.id">
                  {{cartypes.type_name}}
              </option> 
                 </select>
                 <div *ngIf="onlinebooking.controls['cartype'].touched && onlinebooking.controls['cartype'].invalid "> 
              
                  <div *ngIf="onlinebooking.controls['cartype'].errors" style="color: red;"> 
                    <div *ngIf="onlinebooking.controls['cartype'].errors.required" style="margin-left: 17px;font-size: 12px;">
                        Select car type
                    </div> 		   
                   
                 </div> 
                  
                </div> 
                  </div>
                 <br>
                  <div class="form-group">
                    <input class="datecls" type="date" matinput="" formControlName="date" placeholder="Date From" [(ngModel)]="CustomerDataById1.lastupddt">
                    <div *ngIf="onlinebooking.controls['date'].touched && onlinebooking.controls['date'].invalid "> 
                      <div *ngIf="onlinebooking.controls['date'].errors" style="color: red;"> 
                       <div *ngIf="onlinebooking.controls['date'].errors.required" style="margin-left: 0px;font-size: 12px;">
                           Select Date
                       </div> 		   
                     </div> 
                   </div>
             </div>
             <br>
            </div>
    
            <div class="col-sm-3">
           
           <div class="form-group">
            <select class="carbrandcls" formControlName="brand" id="carbrand" (ngModelChange)="onChangeObj($event)" [(ngModel)]="CustomerDataById1.brand">   
                 
              <option>Car Brand</option>  
              <option *ngFor="let brandlist of branddata" [value]="brandlist.id">
                {{brandlist.brand_name}}
            </option>
               </select>
               <div *ngIf="onlinebooking.controls['brand'].touched && onlinebooking.controls['brand'].invalid "> 
                <div *ngIf="onlinebooking.controls['brand'].errors" style="color: red;"> 
                 <div *ngIf="onlinebooking.controls['brand'].errors.required" style="margin-left: 0px;font-size: 12px;">
                     Select Car Brand
                 </div> 		   
               </div> 
             </div>
                 </div>
                <br>
                  <div class="form-group">
                        <textarea class="textcls"  matinput="" placeholder="Special Instruction"></textarea>
                    </div>
                    <br>
                 
              </div>
    
           <div class="col-sm-3">
                
         <div class="form-group">
                   
          <select  onchange = "favTutorial()" class="carmodelcls" formControlName="model" id="model">   
                 
            <option>Car Model</option>  
            <option *ngFor="let carmodels of modelsdata" [value]="carmodels.id">
              {{carmodels.model_name}}
              </option> 
             </select>
              <div *ngIf="onlinebooking.controls['model'].touched && onlinebooking.controls['model'].invalid"> 
                  
              <div *ngIf="onlinebooking.controls['model'].errors" style="color: red;"> 
                <div *ngIf="onlinebooking.controls['model'].errors.required" style="font-size: 12px;">
                    Select car model
                </div> 		   
               
             </div> 
              
            </div> 
               </div>
              
            </div>
            <div class="col-sm-3">
           
             
              
         <div class="form-group">
          <select class="fueltypecls" formControlName="fueltype" name="" [(ngModel)]="CustomerDataById1.fueltype">    
             
            <option value="">--Select Fuel Type---</option>
            <option value="petrol">Petrol</option>
            <option value="diesel">Diesel</option>
             </select> 
             <div *ngIf="onlinebooking.controls['fueltype'].touched && onlinebooking.controls['fueltype'].invalid "> 
               <div *ngIf="onlinebooking.controls['fueltype'].errors" style="color: red;"> 
                <div *ngIf="onlinebooking.controls['fueltype'].errors.required" style="margin-left: 17px;font-size: 12px;">
                    Select fuel type
                </div> 		   
              </div> 
            </div>
              </div>
                  
   
                   
           </div>
            </div>
    
     <!---End of Booking details-->

       <!--End of booking details-->
     <mat-card-header> 
       <mat-card-title> 
        <h4 class="subheading" style="color:skyblue;margin-left: -17px;">Choose a Today Offers ______</h4>
        <h2 class="mainheading" style="margin-top: -17px;margin-left: -17px;"> Shop Deal Of The Day(offers)</h2>
    
        <ngx-slick-carousel class="carousel"
        #slickModal="slick-carousel" 
        [config]="slideConfig" 
        (init)="slickInit($event)"
        (breakpoint)="breakpoint($event)"
        (afterChange)="afterChange($event)"
        (beforeChange)="beforeChange($event)">
        <div ngxSlickItem  *ngFor="let combolist of offerslist;"  >

      <div id="carouselExampleCaptions1" data-bs-ride="carousel" >
        
      <div data-interval="10">
            <div class=" carousel-item onesection active">
                <div class="row" style="margin-left: 6px;">
                    
      

                    <div class="card col-sm-6"  style="width: 100px !important;" >
                      <!-- <div class="oneimage">
                            <a href="">
                              <img *ngIf="combolist.shop_image"   src="http://localhost/MNC-PHP-API/{{combolist.shop_image}}"  class="img-fluid rounded thumbnail-image oneimage">
                            </a>
                     </div> -->
                <div class="product-detail-container p-2" >
                       
                           <div class="color-select d-flex "> 
                            <img *ngIf="combolist.shop_logo" src="http://localhost/MNC-PHP-API/{{combolist.shop_logo}}" style="width: 50px;margin-top: -7px;">{{combolist.name}}
                            </div>

                <div class="d-flex justify-content-between align-items-center">
                        <h5 class="dress-name">{{combolist.offer_percent}} % OFFER inside..! Great offers on car get a clean</h5>
                        </div>
                       <div class="d-flex justify-content-between align-items-center">
                              <h5 class="dress-name">Petrol, CNG |{{combolist.model_name}} |

                                  <div *ngFor="let m of  combolist.services.split(',')">
                                  <span *ngFor="let m1 of  MasterServiceid1" >

                                   <span *ngIf="m === m1.service_id">{{m1.service_name}}</span>
                                  </span>
                                 </div>  
                                <!-- {{combolist.services}}  -->
                                </h5> 
                          </div>
      
                          <div class="d-flex justify-content-between align-items-center">
                            <h5 class="dress-name" >Offer Price @  <input type="number" style="width: 50px;"  value="{{combolist.combo_price}}"  id="offerprice_{{combolist.offer_id}}">
                              /-</h5>
                        </div>
                          <!-- <div class="d-flex justify-content-between align-items-center pt-1">
                            <i class="fa fa-star-o rating-star discount2"><span class="rating-number">4.8</span></i>
                             <span class="buy">Save Upto 1000 +</span>
                          </div> -->
                           <button  id="select_{{combolist.offer_id}}"  (click)="changeBgColor(combolist.offer_id)"   class="comboselectbtm" >{{text}}</button>  
                     </div>
                  </div>
                  
                    <div class="eachcontMultislide" style="background-image: url('https://source.unsplash.com/szFUQoyvrxM/1920x1080');"></div> 
                     </div>
                         </div>
                    </div>
     </div>
        <button style="color: black;" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide="prev">
          <span class="carousel-control-prev-icon1"  aria-hidden="true"><i class="fa fa-chevron-left"></i></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button style="color: black;" class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide="next">
          <span class="carousel-control-next-icon1" aria-hidden="true"><i class="fa fa-chevron-right"></i></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </ngx-slick-carousel>

      
        </mat-card-title> 
     </mat-card-header> 
    

      <!---End of Pricing plan-->
<br>
      <mat-card-header> 
         <mat-card-title> 
          <!-- <h4 class="subheading" style="color:skyblue;margin-left: -17px;">Select Them Now _____</h4> -->
          <h2 class="mainheading" style="margin-top: -17px;margin-left: -17px;">Choose Extra  Services</h2>
          </mat-card-title> 
       </mat-card-header> 
      <mat-card-content >
    
       <div class="row"> 
        <div class="col-sm-6" style="display: inline;" *ngFor="let shoplist of shopdetails1;">
      
          <div class="extser">
    
            <div class="d-flex justify-content-between align-items-center">
               <span class="discount2" *ngIf="shoplist.offer_percent!=0">Up to {{shoplist. offer_percent}}% Off</span>  
          </div>
            <!--Section: Content-->
              <div class="text-center white-text d-md-flex justify-content-between p6 indigo lighten-2"  >
                <div class="servicename">
                 <p class="font-weight-bold;back" >
                  {{shoplist.service_name}}</p> 
                 </div>
                <br>
                <div class="serviceprice">
                <p *ngIf="shoplist.offer_percent!=0" > Offer Price @ 
                  <input type="text" class="selectnow3" value="{{shoplist.offer_price}}" id="amount_{{shoplist.service_id}}">
                </p> 
                
                <p *ngIf="shoplist.offer_percent ==0" > Service Price @ 
                  <input type="text" class="selectnow3" value="{{shoplist.actual_amount}}" id="amount_{{shoplist.service_id}}">
                </p>
              </div>
                <button id="chooice_{{shoplist.service_id}}" class="selectnow" (click)="selectbuttoncolor(shoplist.service_id)">{{textcontent}}</button> 
              </div> 
     
          
        </div>
        <br>
    </div>
</div>
      
    </mat-card-content>

    <div style=" margin-left: 876px;font-size: 17px;">
      <label class="mainheading">Extra Services price: </label>
      <input type="number" id="totalamount" class="selectnow2"  >
      </div>
<br>
     <mat-card-actions > 
     <button mat-raised-button="" style="background-color: #ff8507;margin-left: 975px;" >Conform Booking</button>
     <!-- <label>Totally:</label> -->
   
     <!-- <input type="number" id="finalamount" class="selectnow2"  > -->
     </mat-card-actions>
       
   </mat-card>
    </form>
    </div> 
    <script>
    function slideShowController($scope, $timeout) {
      var slidesInSlideshow = 4;
      var slidesTimeIntervalInMs = 3000; 
     
      $scope.slideshow = 1;
      var slideTimer =
      $timeout(function interval() {
          $scope.slideshow = ($scope.slideshow % slidesInSlideshow) + 1;
          slideTimer = $timeout(interval, slidesTimeIntervalInMs);
          }, slidesTimeIntervalInMs);
        }
          </script>