<h2 class="mainheading" style="text-align:center;">My Online Booking</h2>

<div style=" margin-top: -75px;">

  <form [formGroup]="onlinebooking" class="form-container" >
      <mat-card>
  
        <mat-card-header>
          <mat-card-title>
            <h4 class="subheading" style="color:skyblue;margin-left: -17px;">Enter Your Details_____</h4>
            <h2 class="mainheading" style=" margin-top: -17px;margin-left: -17px;">  Booking Details</h2>
            </mat-card-title>
        </mat-card-header>
        <div class="row">
          <div class="col-sm-3">
           
               <div class="form-group">
              <select   class="cartypecls" formControlName="cartype" id="cartype" (ngModelChange)="onchangecartype($event)" [(ngModel)]="CustomerDataById1.cartype">   
                 
                <option>car Type</option>  
                 <option *ngFor="let cartypes of displaydata1" [value]="cartypes.id">
                  {{cartypes.type_name}}
              </option> 
                 </select>
                 <div *ngIf="onlinebooking.controls['cartype'].touched && onlinebooking.controls['cartype'].invalid "> 
              
                  <div *ngIf="onlinebooking.controls['cartype'].errors" style="color: red;"> 
                    <div *ngIf="onlinebooking.controls['cartype'].errors.required" style="margin-left: 17px;font-size: 12px;">
                        Select car type
                    </div> 		   
                   
                 </div> 
                  
                </div> 
                  </div>
                 <br>
                  <div class="form-group">
                    <input class="datecls" type="date" matinput="" formControlName="date" placeholder="Date From" [(ngModel)]="CustomerDataById1.lastupddt">
                    <div *ngIf="onlinebooking.controls['date'].touched && onlinebooking.controls['date'].invalid "> 
                      <div *ngIf="onlinebooking.controls['date'].errors" style="color: red;"> 
                       <div *ngIf="onlinebooking.controls['date'].errors.required" style="margin-left: 0px;font-size: 12px;">
                           Select Date
                       </div> 		   
                     </div> 
                   </div>
             </div>
             <br>
            </div>
    
            <div class="col-sm-3">
           
           <div class="form-group">
            <select class="carbrandcls" formControlName="brand" id="carbrand" (ngModelChange)="onChangeObj($event)" [(ngModel)]="CustomerDataById1.brand">   
                 
              <option>Car Brand</option>  
              <option *ngFor="let brandlist of branddata" [value]="brandlist.id">
                {{brandlist.brand_name}}
            </option>
               </select>
               <div *ngIf="onlinebooking.controls['brand'].touched && onlinebooking.controls['brand'].invalid "> 
                <div *ngIf="onlinebooking.controls['brand'].errors" style="color: red;"> 
                 <div *ngIf="onlinebooking.controls['brand'].errors.required" style="margin-left: 0px;font-size: 12px;">
                     Select Car Brand
                 </div> 		   
               </div> 
             </div>
                 </div>
                <br>
                  <div class="form-group">
                        <textarea class="textcls"  matinput="" placeholder="Special Instruction"></textarea>
                    </div>
                    <br>
                 
              </div>
    
           <div class="col-sm-3">
                
         <div class="form-group">
                   
          <select  onchange = "favTutorial()" class="carmodelcls" formControlName="model" id="model">   
                 
            <option>Car Model</option>  
            <option *ngFor="let carmodels of modelsdata" [value]="carmodels.id">
              {{carmodels.model_name}}
              </option> 
             </select>
              <div *ngIf="onlinebooking.controls['model'].touched && onlinebooking.controls['model'].invalid"> 
                  
              <div *ngIf="onlinebooking.controls['model'].errors" style="color: red;"> 
                <div *ngIf="onlinebooking.controls['model'].errors.required" style="font-size: 12px;">
                    Select car model
                </div> 		   
               
             </div> 
              
            </div> 
               </div>
              
            </div>
            <div class="col-sm-3">
           
             
              
         <div class="form-group">
          <select class="fueltypecls" formControlName="fueltype" name="" [(ngModel)]="CustomerDataById1.fueltype">    
             
            <option value="">--Select Fuel Type---</option>
            <option value="petrol">Petrol</option>
            <option value="diesel">Diesel</option>
             </select> 
             <div *ngIf="onlinebooking.controls['fueltype'].touched && onlinebooking.controls['fueltype'].invalid "> 
               <div *ngIf="onlinebooking.controls['fueltype'].errors" style="color: red;"> 
                <div *ngIf="onlinebooking.controls['fueltype'].errors.required" style="margin-left: 17px;font-size: 12px;">
                    Select fuel type
                </div> 		   
              </div> 
            </div>
              </div>
                  
   
                   
           </div>
            </div>
    
     <!---End of Booking details-->

       <!--End of booking details-->
     <!-- <mat-card-header> 
       <mat-card-title>  -->
        <h4 class="subheading" style="color:skyblue;margin-left: -17px;">Choose a Today Offers ______</h4>
        <h2 class="mainheading" style="margin-top: -17px;margin-left: -17px;"> Shop Deal Of The Day(offers)</h2>
    <div class="row">

    
        
        <ngx-slick-carousel class="carousel" style="width:100%;background: none;"
                        #slickModal="slick-carousel" 
                        [config]="slideConfig1" 
                        (init)="slickInit1($event)"
                        (breakpoint)="breakpoint1($event)"
                        (afterChange)="afterChange1($event)"
                        (beforeChange)="beforeChange1($event)">
        <div ngxSlickItem *ngFor="let s of offerslist" class="slide1">
          <div class=" card" >
            <div class="image-container oneimage" style="border:1px solid;background-image: url('http://localhost/MNC-PHP-API/{{s.shop_image}}')" >
                <div class="first">
                    <div class="d-flex justify-content-between align-items-center"> 
                      <span *ngIf="s.offer_percent != 0" class="discount">{{s.offer_percent}}% Off</span> 
                      <span *ngIf="s.offer_percent == 0" class="discount"></span> 
                      <ng-template  #other_content1><span  class="openClosed">Open</span></ng-template>

                      <!-- <span  *ngIf = "date >= s.leave_from_date && date <= s.leave_to_date;else other_content1" class="openClosed">Closed</span> -->
                      
                      <!-- <span class="wishlist"><i class="fa fa-heart-o"></i></span>  -->
                    </div>
                </div> 

            </div>

            

            <div class="product-detail-container p-2">

              <div class="d-flex justify-content-between align-items-center pt-1">
                <div class="color-select d-flex "> 
                  <img src="http://localhost/MNC-PHP-API/{{s.shop_logo}}" style="width: 50px;margin-top: -7px;"> {{s.name}}
                  </div>
             </div>

             <!-- <b>Service: </b> -->
             <!-- <span>{{s.service_id}}</span> -->
             <!-- <div style="height: 50px;"> -->
             <!-- <div *ngFor="let m of  s.serviceid.split(',');let j=index" > -->
              
              
            <!-- </div> -->
          <!-- </div> -->

            <div class="d-flex justify-content-between align-items-center">
              <span *ngFor="let m1 of  MasterServiceid1;" >
                <h5 *ngIf="s.offer_percent != 0 && s.service_id === m1.service_id" class="dress-name">{{s.offer_percent}}% OFF on {{m1.service_name}}..! Great offers on car get a clean</h5>

                <h5 *ngIf="s.offer_percent == 0 && s.service_id === m1.service_id" class="dress-name">{{m1.service_name}}. affordable price on car get a clean</h5>
                              </span>
             
              </div>
          

                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="dress-name">{{s.model_name}}</h5>
                    
                </div>

                <div class="d-flex justify-content-between align-items-center" style="height:20px">
                  <h5 *ngIf="s.offer_percent != 0" class="dress-name">Offer Price <i class="fa fa-rupee"></i> {{s.offer1}}/-</h5>
                  <h5 *ngIf="s.offer_percent == 0" class="dress-name">Price <i class="fa fa-rupee"></i>  {{s.actual_amount}}/-</h5>
                  
              </div>
                
              <div class="d-flex justify-content-between align-items-center pt-1">
                <!-- <div>  -->
                   <!-- <i class="fa fa-star-o rating-star"></i> <span class="rating-number">4.8</span> -->
                 <!-- </div>  -->
                  <span *ngIf="s.offer_percent != 0" class="buy">Save Upto <i class="fa fa-rupee"></i> {{s.actual_amount - s.offer1 }} +</span>
                  <span *ngIf="s.offer_percent == 0" class="buy"></span>
                 
                  <!-- <a *ngIf = "date >= s.leave_from_date && date <= s.leave_to_date;else booknowDisable1" style="text-decoration: none;" class="booknowntn" disbabled title="closed">Book Now</a> -->
                  <!-- <ng-template  #booknowDisable1>
                     <a  style="text-decoration: none;" class="booknowntn" routerLink="/onlinebooking/{{s.shop_id}}" >Book Now</a>
                  </ng-template> -->
                <!-- <a style="text-decoration: none;" class="booknowntn" routerLink="/onlinebooking/{{s.shop_id}}" >Book Now</a> -->
               
            </div>
                
            </div>
        </div>
        </div>
</ngx-slick-carousel>
</div>
      
        <!-- </mat-card-title> 
     </mat-card-header>  -->
    

      <!---End of Pricing plan-->
<br>
      <mat-card-header> 
         <mat-card-title> 
          <!-- <h4 class="subheading" style="color:skyblue;margin-left: -17px;">Select Them Now _____</h4> -->
          <h2 class="mainheading" style="margin-top: -17px;margin-left: -17px;">Choose Extra  Services</h2>
          </mat-card-title> 
       </mat-card-header> 
      <mat-card-content >
    
       <div class="row"> 
        <div class="col-sm-6" style="display: inline;" *ngFor="let shoplist of shopdetails1;">
      
          <div class="extser">
    
            <div class="d-flex justify-content-between align-items-center">
               <span class="discount2" *ngIf="shoplist.offer_percent!=0">Up to {{shoplist. offer_percent}}% Off</span>  
          </div>
            <!--Section: Content-->
              <div class="text-center white-text d-md-flex justify-content-between p6 indigo lighten-2"  >
                <div class="servicename">
                 <p class="font-weight-bold;back" >
                  {{shoplist.service_name}}</p> 
                 </div>
                <br>
                <div class="serviceprice">
                <p *ngIf="shoplist.offer_percent!=0" > Offer Price @ 
                  <input type="text" class="selectnow3" value="{{shoplist.offer_price}}" id="amount_{{shoplist.service_id}}">
                </p> 
                
                <p *ngIf="shoplist.offer_percent ==0" > Service Price @ 
                  <input type="text" class="selectnow3" value="{{shoplist.actual_amount}}" id="amount_{{shoplist.service_id}}">
                </p>
              </div>
                <button id="chooice_{{shoplist.service_id}}" class="selectnow" (click)="selectbuttoncolor(shoplist.service_id)">{{textcontent}}</button> 
              </div> 
     
          
        </div>
        <br>
    </div>
</div>
      
    </mat-card-content>

    <div style=" margin-left: 876px;font-size: 17px;">
      <label class="mainheading">Extra Services price: </label>
      <input type="number" id="totalamount" class="selectnow2"  >
      </div>
<br>
     <mat-card-actions > 
     <button mat-raised-button="" style="background-color: #ff8507;margin-left: 975px;" >Conform Booking</button>
     <!-- <label>Totally:</label> -->
   
     <!-- <input type="number" id="finalamount" class="selectnow2"  > -->
     </mat-card-actions>
       
   </mat-card>
    </form>
    </div> 
    <script>
    function slideShowController($scope, $timeout) {
      var slidesInSlideshow = 4;
      var slidesTimeIntervalInMs = 3000; 
     
      $scope.slideshow = 1;
      var slideTimer =
      $timeout(function interval() {
          $scope.slideshow = ($scope.slideshow % slidesInSlideshow) + 1;
          slideTimer = $timeout(interval, slidesTimeIntervalInMs);
          }, slidesTimeIntervalInMs);
        }
          </script>