

<form [formGroup]="dataForm3" (ngSubmit)="sendotp3(dataForm3.value)">
  <div fxLayout="row" fxLayoutAlign="center center" class="login-main" style="width: 336px;">

    <div  style="text-align: right;margin-top: -15px;margin-right: -9px;">
      <a style="cursor: pointer;font-size: 20px;font-weight: bold;" (click)="closeMe()">×</a>
    </div>
    
    <mat-card-header style="padding-left: 33%;margin-bottom: 10px;" >
      <mat-card-title >Sign Up</mat-card-title>
      <br>
    </mat-card-header>
 

     <div>


        <input style=" height: 32px;  width: 295px;border:1px solid;    margin-left: 14px;" class="form-control" type="text" matInput placeholder="Your Name" formControlName='username'>

        <div *ngIf="dataForm3.controls['username'].touched && dataForm3.controls['username'].invalid "> 
          
          <div *ngIf="dataForm3.controls['username'].errors" style="color: red;"> 
            <div *ngIf="dataForm3.controls['username'].errors.required" style="margin-left: 14px;">
                Name is required.
            </div> 		   
           
         </div> 
          
        </div>

        </div>

        <label style="margin-top: 10px;"></label>
        <div>

        <input style=" height: 32px;  width: 295px;border:1px solid;    margin-left: 14px;" type="text" class="form-control"  placeholder="Email" formControlName='emailid'>
        <div *ngIf="dataForm3.controls['emailid'].touched && dataForm3.controls['emailid'].invalid "> 
          
          <div *ngIf="dataForm3.controls['emailid'].errors" style="color: red;"> 
            <div *ngIf="dataForm3.controls['emailid'].errors.required" style="margin-left: 14px;">
                EmailId is required.
            </div> 		   
            <div *ngIf="dataForm3.controls['emailid'].errors.pattern" style="margin-left: 14px;">
                 Emailid is not valid.
            </div> 
         </div> 
          
        </div>
        </div>

        <label style="padding-left: 8%;"> </label>

        <div>
        <select id = "myList" onchange = "favTutorial()"  style=" height: 32px;width: 63px;margin-left: 15px;">   
         
          <option> + 91</option>  
           </select>  

           <label style="padding-left: 2%;"> </label>

          <input style=" height: 32px;  width: 208px;border:1px solid;margin-left: 13px;" type="text" matInput placeholder="Mobile Phone" formControlName='registermobno'>

          <div *ngIf="dataForm3.controls['registermobno'].touched && dataForm3.controls['registermobno'].invalid "> 
          
            <div *ngIf="dataForm3.controls['registermobno'].errors" style="color: red;"> 
              <div *ngIf="dataForm3.controls['registermobno'].errors.required" style="margin-left: 14px;">
                  Mobile Number is required.
              </div> 		   
              <div *ngIf="dataForm3.controls['registermobno'].errors.pattern" style="margin-left: 14px;">
                Mobile Number is not valid.
              </div> 
           </div> 
            
          </div>

           </div>
 <br>

 <p id="pleaseregister" style="color:red;font-size: 13px;"></p>

    <mat-card-actions style="text-align: center;">
        <button mat-raised-button class="carwashbtn" style="border-radius: 21px;width: 190px;" [disabled]='!dataForm3.valid'>Receive a Code Via SMS</button>
    </mat-card-actions>

    
</div>
</form>
   
