<h2 style="text-align: center;" class="mainheading">New Booking</h2>

<div class="row">
    <div class="col-sm-1"></div>

    <div class="col-sm-10">

      
        <table  class="table table-responsive servicecss" >
            <thead style="background: #202c45;border-bottom: 0.5px solid #aeaeae;color: white;">
              
                <tr>
                <th style="width:40px;font-weight:normal;">Sl. No.</th>
                <th style="width:40px;font-weight:normal;">Booking Id</th>
                <th style="width:40px;font-weight:normal;">Vehicle Number</th>
                <th style="width:40px;font-weight:normal;">Date</th>
                <th style="width:200px;font-weight:normal;">Name</th>
                <th style="width:66px;font-weight:normal;" >Combo Services</th>
                <th style="width:66px;font-weight:normal;" >Combo Services Total</th>
                <th style="width:66px;font-weight:normal;" >Extra Services</th>
                <th style="width:66px;font-weight:normal;" >Extra Services Total</th>
                <th style="width:150px;font-weight:normal;">Total </th>
                <th style="width:90px;font-weight:normal;" >Service Amount (<span><i class="fa fa-rupee"></i></span>)</th>
               
                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let b of  bookingDetails1 | paginate: config ;  let i=index;" >
                
                <td>{{i+1}}</td>
                <td>{{b.Booking_id}}</td>
                <td>{{b.vehicle_number}}</td>
                <td>{{b.Booking_date}}</td>
                <td>{{b.firstname}}({{b.Customer_id}})</td>
                <td>{{b.combo_id}}</td> 
                <td>{{b.comboprice_total}}</td>
                <td>{{b.services}}</td> 
                <td>{{b.serviceprice_total}}</td>
                <td>{{b.payable_amt}}</td>
              </tr>
              
            </tbody>
          </table>

            
            <div style="text-align: center;" *ngIf="bookingDetails1!=''">
              <br>
              <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
            </div>
          
    </div>

  
</div>