<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
<h2 style="text-align: center;">Shop Services</h2>

<div class="row">
    <div class="col-sm-3">

    </div>

    <div class="col-sm-6">

      


        <table  class="table table-responsive" style="width: 100%;border: 0.5px solid #aeaeae;">
            <thead style="background: #61c0e5;border-bottom: 0.5px solid #aeaeae;">
              <tr >
               
                <th >Sl No</th>
                <th >Service Name</th>
                <th >Amount</th>
                <th >Tool</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let service of  serviceData1 | paginate: config ">
                
                <td>{{service.service_id}}</td>
                <td>{{service.service_name}}</td>
                <td><i class="fa fa-rupee"> </i> &nbsp; <input id="amount_{{service.service_id}}" type="number" value="{{service.actual_amount}}" (keyup)="removevalidateMsg(service.service_id)" style="width: 80px;">
                <p id="validateamount_{{service.service_id}}" style="color: red;display: none;">Please Enter Amount</p>
                </td>
                <td>
                
                  <button *ngIf="service.actual_amount ==null" class="carwashbtn1" style="border-radius: 21px;width: 100px;border: none;color: white;height: 22px !important;"  id="addbtn_{{service.service_id}}" (click)="AddServiceAmount(service.service_id)">Add</button> 
                     <button  *ngIf="service.actual_amount !=null"  style="border-radius: 21px;width: 100px;border: none;background-color: #344fd6;height: 22px;color: white;" (click)="UpdateServiceAmount(service.service_id)">Update</button>


                      
                     <button   style="border-radius: 21px;width: 100px;border: none;background-color: #344fd6;display:none;height: 22px;color: white;" id="updatebtn_{{service.service_id}}" (click)="UpdateServiceAmount(service.service_id)">Update</button> 
                    

                    </td>
        
                
              </tr>
              
            </tbody>
          </table>

<br>
<div style="text-align: center;">
  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
</div>
          
    </div>

    <div class="col-sm-3">

    </div>

</div>






