<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
<h2 style="text-align: center;" class="mainheading">Services/Offer Details</h2>

<div class="row">
   

    <div class="col-sm-12">

      
        <table  class="table table-responsive servicecss" >
            <thead style="background: #8bc7ef;border-bottom: 0.5px solid #aeaeae;">
              <tr >
                <th colspan="5" style="text-align:center;border-right:solid 1px;font-weight: bold;font-size:14px;">Service Details</th>
                <th colspan="5"  style="text-align:center;font-weight:bold;font-size:14px">Offer Details</th>
                </tr>
                <tr>
                <th style="width:40px;">Sl. No.</th>
                <th style="width:200px;">Service Name</th>
                <th style="width:150px;">Model </th>
                <th style="width:80px;" >Service Amount</th>
                <th  style="width:150px;border-right:solid 1px;">Action</th>
                <th style="width:85px;" >Offer(%) </th>
                <th style="width:85px;" >Offer Price </th>
                <th style="width:35px;">Offer From Date</th>
                <th style="width:35px;">Offer To Date</th>
                <th  style="width:100px;">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let service of  serviceData1 | paginate: config ;  let i=index;" >
                
                <td>{{i+1}}</td>
                <td ><input id="service_{{service.service_id}}" type="number" value="{{service.service_id}}"  style="width: 60px;" hidden><input id="servicename_{{service.service_id}}" type="text" value="{{service.service_name}}"  style="width: 250px;border:none;text-align: center;" readonly></td>
                <td>  <input id="model_{{service.service_id}}" type="number" value="{{service.model_id}}"  style="width: 60px;" hidden> <input id="modelname_{{service.service_id}}" type="text" value="{{service.model_name}}"  style="width: 150px;border:none;text-align: center;background-color: #fff;" readonly></td>
                <td><i class="fa fa-rupee"> </i> &nbsp; <input id="amount_{{service.service_id}}" type="number" value="{{service.actual_amount}}" (keyup)="removevalidateMsg(service.service_id)" style="width: 60px;">
                <p id="validateamount_{{service.service_id}}" style="color: red;display: none;font-size:10px;"> Enter the Amount</p>
                </td>
                <td style="border-right:solid 1px;">
                
                

                      
                     <button   style="border-radius: 21px;width: 60px;border: none;background-color: #b9c3f5;height: 22px;color: black;font-weight:bold;" id="updatebtn_{{service.service_id}}" (click)="UpdateServiceAmount(service.service_id)">Update</button>
                    
                  
                    </td>
                <td>
                 &nbsp; <input id="offer_{{service.service_id}}" #term type="number" value="{{service.offer_percent}}"  (keyup)="getOfferPrice(term.value,term.id)" style="width: 80px;">&nbsp;<i class="fa fa-percent"> </i>
                 <p id="validateoffer_{{service.service_id}}" style="color: red;display: none;font-size:10px;"> Enter the Offer %</p>
                </td>
                <td>
                  &nbsp;<i class="fa fa-rupee"> </i>&nbsp;<input id="offeramount_{{service.service_id}}" type="number" value="{{service.offer_price}}"  style="width: 60px;">
               
                </td>
                <td>  <input type="date"  id="offerfromdate_{{service.service_id}}"  class=" dateofbirthcls" style="width:112px !important;" value="{{service.from_date}}"  placeholder="">
                  <p id="validatefromdate_{{service.service_id}}" style="color: red;display: none;font-size:10px;">Select Offer Starting Date</p> <p id="validatefromdateformat_{{service.service_id}}" style="color: red;display: none;font-size:10px;">Offer From Date Greater than To Date</p></td>
                <td> <input type="date"  id="offertodate_{{service.service_id}}"  class=" dateofbirthcls"  style="width:112px !important;" value="{{service.to_date}}" placeholder="">
                  <p id="validatetodate_{{service.service_id}}" style="color: red;display: none;font-size:10px;">Select Offer Ending Date</p>  <p id="validatetodateformat_{{service.service_id}}" style="color: red;display: none;font-size:10px;">Offer To Date Less than From Date</p></td>
                <td>



                      
                     <button   style="border-radius: 21px;width: 60px;border: none;background-color: #b9c3f5;height: 22px;color: black rgb(158, 155, 155);font-weight:bold;" id="updatebtn_{{service.service_id}}" (click)="UpdateOfferAmount(service.service_id)">Update</button>
                    
                    
        
              
            </td>
              </tr>
              
            </tbody>
          </table>

            <br>
            <div style="text-align: center;">
              <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
            </div>
          
    </div>

  
</div>



